python-multipart
fastapi==0.89.1
gunicorn
numpy
pandas
pydantic
requests
uvicorn>=0.15.0,<0.16.0
bitsandbytes
torch
tqdm
rich
transformers
datasets>=2.2.0
jsonlines
scikit_learn>=1.0.2
scipy
sentence_transformers>=2.2.0